@use "variables";

.error-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.error-message {
  font-size: 20px;
  text-align: center;
  font-family: variables.$font-1;
}

.error-message + button {
  margin: 0 auto;
}
