@use "variables";
@use "mixins";

.info-card__wrapper {
  display: flex;
  gap: 5rem;
  min-height: 500px;
  margin: 100px 108px;
}

.info-card__info {
  flex-basis: 44%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-card {
  flex-basis: 56%;
  display: grid;
  max-height: 490px;
  grid-template-columns: 1fr 6fr 7fr;
  grid-template-rows: 12fr 13fr 6fr;
  grid-template-areas:
    "pic1 pic1 pic2"
    ". pic3 pic2"
    ". pic3 .";
  column-gap: 28px;
  row-gap: 28px;

  &__pic-wrapper {
    height: 100%;
    width: 100%;
    img {
      border-radius: 20px;
    }
    @include mixins.img;

    &:hover {
      @include mixins.img-hover($spread: 0px);
      box-shadow: none;
    }

    &:nth-child(1) {
      grid-area: pic1;
    }

    &:nth-child(2) {
      grid-area: pic2;
    }

    &:nth-child(3) {
      grid-area: pic3;
    }
  }
}

@media only screen and (max-width: 1200px) and (min-width: 801px) {
  .info-card__wrapper {
    flex-direction: column;
  }
  .info-card {
    width: 100%;
    min-height: 400px;
    max-width: 500px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 800px) and (min-width: 621px) {
  .info-card__wrapper {
    flex-direction: column;
    margin: 50px;
  }
  .info-card {
    width: 100%;
    min-height: 400px;
    max-width: 500px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 620px) and (min-width: 381px) {
  .info-card__wrapper {
    flex-direction: column;
    margin: 40px;
  }
  .info-card {
    width: 100%;
    min-height: 300px;
    max-width: 400px;
    margin: 0 auto;
    gap: 16px;
  }
}

@media only screen and (max-width: 380px) {
  .info-card__wrapper {
    flex-direction: column;
    margin: 20px;
  }
  .info-card {
    width: 100%;
    min-height: 300px;
    max-width: 300px;
    margin: 0 auto;
    gap: 10px;
  }
}
